* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {

    background: rgb(192, 3, 3);
    height: 100vh;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.calculadora {
    position: absolute;
    background-color: black;
    padding: 30px;
    height: 340px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10%;
    color: red;
}

.botao {
    width: 50px;
    height: 50px;
    font-size: 20px;
    cursor: pointer;
    border: none;
    color: red;
    background-color: black;
    border-radius: 15px;
}

.botao:hover {
    background-color: rgb(247, 247, 247);
}
.botao2 {
    width: 50px;
    height: 50px;
    font-size: 20px;
    cursor: pointer;
    border: none;
    background-color: red; 
    color: black;
    border-radius: 15px;
}
.botao2:hover {
    background-color: rgb(255, 255, 255);
}

#displayid {
    background-color: white;
    height: 25px;
    color: red;
    font-size: 20px;
    text-align: end;
    margin: 3px;
    border-radius: 5px;
}
